body {
    margin: 20px;
}
.avatar {
    width: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    background: rgb(118, 0, 0);
    color: blanchedalmond;
    border-bottom: 10px solid rgb(29, 29, 29);
}
.border-red {border: 1px dotted red; }